In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "deathsCSV.csv"
deathsdf = pd.read_csv(csv_file)
deathsdf.head()

,geoid,Region,State,age,season,MMWR Year/Week,Deaths from influenza,Deaths from pneumonia,Deaths from pneumonia and influenza,All Deaths,Pecent of deaths due to pneumonia or influenza,pecent complete
0,State,NaN,New Hampshire,All,2017-18,201805,NaN,NaN,28.0,286.0,9.790210,143.277643
1,State,NaN,New York City,All,2015-16,201629,NaN,NaN,64.0,972.0,6.584362,97.618498
2,State,NaN,Missouri,All,2009-10,201020,NaN,NaN,84.0,984.0,8.536585,93.231242
3,Region,3.0,NaN,All,2010-11,201134,0.0,280.0,280.0,4662.0,6.006006,92.565116
4,State,NaN,Kansas,All,2017-18,201820,NaN,NaN,19.0,496.0,3.830645,105.194581

In [4]:
csv_file = "outbreaks.csv"
outbreaksdf = pd.read_csv(csv_file)
outbreaksdf

,Year,Month,State,Primary Mode,Etiology,Serotype or Genotype,Etiology Status,Setting,Illnesses,Hospitalizations,...,Deaths,Info on Deaths,Food Vehicle,Food Contaminated Ingredient,IFSAC Category,Water Exposure,Water Type,Animal Type,Animal Type Specify,Water Status
0,2009,1,Minnesota,Person-to-person,Norovirus Genogroup II,unknown,Confirmed,Hotel/motel,21,0.0,...,0.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009,1,Minnesota,Food,Norovirus,NaN,Suspected,Restaurant - Sit-down dining,2,0.0,...,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009,2,Minnesota,Person-to-person,Norovirus,NaN,Suspected,"Other, specify",50,0.0,...,0.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009,1,Minnesota,Person-to-person,Norovirus unknown,NaN,Confirmed,Restaurant,24,0.0,...,0.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2009,1,Minnesota,Food,Norovirus,NaN,Confirmed,NaN,16,0.0,...,0.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46019,2017,4,Florida,Food,Norovirus Genogroup II,NaN,Confirmed,Restaurant - Sit-down dining,10,0.0,...,0.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46020,2017,12,Florida,Food,NaN,NaN,NaN,Restaurant - Sit-down dining,4,0.0,...,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46021,2017,12,Multistate,Food,Salmonella enterica; Salmonella enterica,Montevideo; Cubana,Confirmed; Confirmed,Unknown,62,3.0,...,0.0,51.0,sprouts,NaN,Sprouts,NaN,NaN,NaN,NaN,NaN
46022,2017,5,Florida,Food,NaN,NaN,NaN,Restaurant - Sit-down dining,10,0.0,...,0.0,10.0,fish dip,NaN,Multiple,NaN,NaN,NaN,NaN,NaN
46023,2014,11,Arizona,Food,Bacillus cereus; Staphylococcus aureus,NaN,Suspected; Suspected,Unknown,65,1.0,...,0.0,65.0,"meat chili; potato salad; beans, unspecified; ...",NaN,Multiple,NaN,NaN,NaN,NaN,NaN

In [8]:
obdf = outbreaksdf[['Year', 'Month', 'State', 'Primary Mode', 'Etiology', 'Illnesses']].copy()
obdf

,Year,Month,State,Primary Mode,Etiology,Illnesses
0,2009,1,Minnesota,Person-to-person,Norovirus Genogroup II,21
1,2009,1,Minnesota,Food,Norovirus,2
2,2009,2,Minnesota,Person-to-person,Norovirus,50
3,2009,1,Minnesota,Person-to-person,Norovirus unknown,24
4,2009,1,Minnesota,Food,Norovirus,16
...,...,...,...,...,...,...
46019,2017,4,Florida,Food,Norovirus Genogroup II,10
46020,2017,12,Florida,Food,NaN,4
46021,2017,12,Multistate,Food,Salmonella enterica; Salmonella enterica,62
46022,2017,5,Florida,Food,NaN,10
46023,2014,11,Arizona,Food,Bacillus cereus; Staphylococcus aureus,65