In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "outbreaks.csv"
outbreaksdf = pd.read_csv(csv_file)
outbreaksdf

,Year,Month,State,Primary Mode,Etiology,Serotype or Genotype,Etiology Status,Setting,Illnesses,Hospitalizations,...,Deaths,Info on Deaths,Food Vehicle,Food Contaminated Ingredient,IFSAC Category,Water Exposure,Water Type,Animal Type,Animal Type Specify,Water Status
0,2009,1,Minnesota,Person-to-person,Norovirus Genogroup II,unknown,Confirmed,Hotel/motel,21,0.0,...,0.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009,1,Minnesota,Food,Norovirus,NaN,Suspected,Restaurant - Sit-down dining,2,0.0,...,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009,2,Minnesota,Person-to-person,Norovirus,NaN,Suspected,"Other, specify",50,0.0,...,0.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009,1,Minnesota,Person-to-person,Norovirus unknown,NaN,Confirmed,Restaurant,24,0.0,...,0.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2009,1,Minnesota,Food,Norovirus,NaN,Confirmed,NaN,16,0.0,...,0.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46019,2017,4,Florida,Food,Norovirus Genogroup II,NaN,Confirmed,Restaurant - Sit-down dining,10,0.0,...,0.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46020,2017,12,Florida,Food,NaN,NaN,NaN,Restaurant - Sit-down dining,4,0.0,...,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46021,2017,12,Multistate,Food,Salmonella enterica; Salmonella enterica,Montevideo; Cubana,Confirmed; Confirmed,Unknown,62,3.0,...,0.0,51.0,sprouts,NaN,Sprouts,NaN,NaN,NaN,NaN,NaN
46022,2017,5,Florida,Food,NaN,NaN,NaN,Restaurant - Sit-down dining,10,0.0,...,0.0,10.0,fish dip,NaN,Multiple,NaN,NaN,NaN,NaN,NaN
46023,2014,11,Arizona,Food,Bacillus cereus; Staphylococcus aureus,NaN,Suspected; Suspected,Unknown,65,1.0,...,0.0,65.0,"meat chili; potato salad; beans, unspecified; ...",NaN,Multiple,NaN,NaN,NaN,NaN,NaN

In [3]:
obdf = outbreaksdf[['Year', 'State', 'Primary Mode', 'Etiology', 'Setting','Illnesses']].copy()
obdf = obdf.rename(columns={"Year": "year","State": "stateid", "Primary Mode": "primarymode", "Etiology": "etiology", 'Setting':'setting',"Illnesses": "illness"})

obdf

,year,stateid,primarymode,etiology,setting,illness
0,2009,Minnesota,Person-to-person,Norovirus Genogroup II,Hotel/motel,21
1,2009,Minnesota,Food,Norovirus,Restaurant - Sit-down dining,2
2,2009,Minnesota,Person-to-person,Norovirus,"Other, specify",50
3,2009,Minnesota,Person-to-person,Norovirus unknown,Restaurant,24
4,2009,Minnesota,Food,Norovirus,NaN,16
...,...,...,...,...,...,...
46019,2017,Florida,Food,Norovirus Genogroup II,Restaurant - Sit-down dining,10
46020,2017,Florida,Food,NaN,Restaurant - Sit-down dining,4
46021,2017,Multistate,Food,Salmonella enterica; Salmonella enterica,Unknown,62
46022,2017,Florida,Food,NaN,Restaurant - Sit-down dining,10
46023,2014,Arizona,Food,Bacillus cereus; Staphylococcus aureus,Unknown,65

In [4]:
csv_file = "UnderlyingCauseofDeath19992017.csv"
coddf = pd.read_csv(csv_file)

In [5]:
coddf = coddf[['State', 'Cause of death', 'Deaths', 'Population']].copy()
coddf = coddf.rename(columns={"State": "stateid", "Cause of death": "cause", "Deaths": "deaths", "Population": "population"})
coddf

,stateid,cause,deaths,population
0,Alabama,Enterocolitis due to Clostridium difficile,273,7840781
1,Alabama,Gastroenteritis and colitis of unspecified origin,92,7840781
2,Alabama,Pulmonary mycobacterial infection,11,7840781
3,Alabama,Septicaemia due to Staphylococcus aureus,30,7840781
4,Alabama,Septicaemia due to unspecified staphylococcus,12,7840781
...,...,...,...,...
26698,Wisconsin,Legal intervention involving firearm discharge,10,12725772
26699,Wisconsin,Other medical procedures,16,12725772
26700,Wisconsin,Sequelae of motor-vehicle accident,54,12725772
26701,Wisconsin,Sequelae of other accidents,72,12725772
26702,Wisconsin,Sequelae of assault,12,12725772

In [17]:
coddf["cause"].nunique()

1689

In [6]:
merge_table = pd.merge(obdf, coddf, on="stateid", how="left")
merge_table

,year,stateid,primarymode,etiology,setting,illness,cause,deaths,population
0,2009,Minnesota,Person-to-person,Norovirus Genogroup II,Hotel/motel,21,Enterocolitis due to Clostridium difficile,390.0,22676238.0
1,2009,Minnesota,Person-to-person,Norovirus Genogroup II,Hotel/motel,21,Other and unspecified gastroenteritis and coli...,17.0,22676238.0
2,2009,Minnesota,Person-to-person,Norovirus Genogroup II,Hotel/motel,21,Gastroenteritis and colitis of unspecified origin,114.0,22676238.0
3,2009,Minnesota,Person-to-person,Norovirus Genogroup II,Hotel/motel,21,"Tuberculosis of lung, without mention of bacte...",18.0,22676238.0
4,2009,Minnesota,Person-to-person,Norovirus Genogroup II,Hotel/motel,21,Tuberculosis of bones and joints,13.0,22676238.0
...,...,...,...,...,...,...,...,...,...
36710804,2014,Arizona,Food,Bacillus cereus; Staphylococcus aureus,Unknown,65,Sequelae of motor-vehicle accident,149.0,29725884.0
36710805,2014,Arizona,Food,Bacillus cereus; Staphylococcus aureus,Unknown,65,Sequelae of other accidents,135.0,29725884.0
36710806,2014,Arizona,Food,Bacillus cereus; Staphylococcus aureus,Unknown,65,Sequelae of intentional self-harm,14.0,29725884.0
36710807,2014,Arizona,Food,Bacillus cereus; Staphylococcus aureus,Unknown,65,Sequelae of assault,32.0,29725884.0
36710808,2014,Arizona,Food,Bacillus cereus; Staphylococcus aureus,Unknown,65,Sequelae of surgical and medical procedures as...,12.0,29725884.0

In [10]:
merge_table.describe()

               year       illness        deaths    population
count  3.671081e+07  3.671081e+07  3.670647e+07  3.670647e+07
mean   2.009717e+03  2.396491e+01  5.235158e+02  6.617248e+07
std    5.752930e+00  4.245390e+01  3.121709e+03  5.669588e+07
min    1.998000e+03  2.000000e+00  1.000000e+01  3.216750e+05
25%    2.005000e+03  5.000000e+00  1.900000e+01  2.841280e+07
50%    2.011000e+03  1.200000e+01  4.300000e+01  3.944955e+07
75%    2.015000e+03  2.900000e+01  1.540000e+02  8.785597e+07
max    2.017000e+03  2.500000e+03  1.400140e+05  2.022669e+08

In [72]:
rds_connection_string = "postgres:password@localhost:5432/IllestDB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [73]:
engine.table_names()

['death', 'outbreak']

In [74]:
obdf.to_sql(name='outbreak', con=engine, if_exists='append', index=False)

In [77]:
coddf.to_sql(name='death', con=engine, if_exists='append', index=False)