In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "outbreaks.csv"
outbreaksdf = pd.read_csv(csv_file)
outbreaksdf

,Year,Month,State,Primary Mode,Etiology,Serotype or Genotype,Etiology Status,Setting,Illnesses,Hospitalizations,...,Deaths,Info on Deaths,Food Vehicle,Food Contaminated Ingredient,IFSAC Category,Water Exposure,Water Type,Animal Type,Animal Type Specify,Water Status
0,2009,1,Minnesota,Person-to-person,Norovirus Genogroup II,unknown,Confirmed,Hotel/motel,21,0.0,...,0.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009,1,Minnesota,Food,Norovirus,NaN,Suspected,Restaurant - Sit-down dining,2,0.0,...,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009,2,Minnesota,Person-to-person,Norovirus,NaN,Suspected,"Other, specify",50,0.0,...,0.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009,1,Minnesota,Person-to-person,Norovirus unknown,NaN,Confirmed,Restaurant,24,0.0,...,0.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2009,1,Minnesota,Food,Norovirus,NaN,Confirmed,NaN,16,0.0,...,0.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46019,2017,4,Florida,Food,Norovirus Genogroup II,NaN,Confirmed,Restaurant - Sit-down dining,10,0.0,...,0.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46020,2017,12,Florida,Food,NaN,NaN,NaN,Restaurant - Sit-down dining,4,0.0,...,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46021,2017,12,Multistate,Food,Salmonella enterica; Salmonella enterica,Montevideo; Cubana,Confirmed; Confirmed,Unknown,62,3.0,...,0.0,51.0,sprouts,NaN,Sprouts,NaN,NaN,NaN,NaN,NaN
46022,2017,5,Florida,Food,NaN,NaN,NaN,Restaurant - Sit-down dining,10,0.0,...,0.0,10.0,fish dip,NaN,Multiple,NaN,NaN,NaN,NaN,NaN
46023,2014,11,Arizona,Food,Bacillus cereus; Staphylococcus aureus,NaN,Suspected; Suspected,Unknown,65,1.0,...,0.0,65.0,"meat chili; potato salad; beans, unspecified; ...",NaN,Multiple,NaN,NaN,NaN,NaN,NaN

In [71]:
obdf = outbreaksdf[['Year', 'State', 'Primary Mode', 'Etiology', 'Setting','Illnesses']].copy()
obdf = obdf.rename(columns={"Year": "year","State": "stateid", "Primary Mode": "primarymode", "Etiology": "etiology", 'Setting':'setting',"Illnesses": "illness"})

obdf

,year,stateid,primarymode,etiology,setting,illness
0,2009,Minnesota,Person-to-person,Norovirus Genogroup II,Hotel/motel,21
1,2009,Minnesota,Food,Norovirus,Restaurant - Sit-down dining,2
2,2009,Minnesota,Person-to-person,Norovirus,"Other, specify",50
3,2009,Minnesota,Person-to-person,Norovirus unknown,Restaurant,24
4,2009,Minnesota,Food,Norovirus,NaN,16
...,...,...,...,...,...,...
46019,2017,Florida,Food,Norovirus Genogroup II,Restaurant - Sit-down dining,10
46020,2017,Florida,Food,NaN,Restaurant - Sit-down dining,4
46021,2017,Multistate,Food,Salmonella enterica; Salmonella enterica,Unknown,62
46022,2017,Florida,Food,NaN,Restaurant - Sit-down dining,10
46023,2014,Arizona,Food,Bacillus cereus; Staphylococcus aureus,Unknown,65

In [30]:
csv_file = "UnderlyingCauseofDeath19992017.csv"
coddf = pd.read_csv(csv_file)

In [75]:
coddf = coddf[['State', 'Cause of death', 'Deaths', 'Population']].copy()
coddf = coddf.rename(columns={"State": "stateid", "Cause of death": "cause", "Deaths": "deaths", "Population": "population"})
coddf

,stateid,cause,deaths,population
0,Alabama,Enterocolitis due to Clostridium difficile,273,7840781
1,Alabama,Gastroenteritis and colitis of unspecified origin,92,7840781
2,Alabama,Pulmonary mycobacterial infection,11,7840781
3,Alabama,Septicaemia due to Staphylococcus aureus,30,7840781
4,Alabama,Septicaemia due to unspecified staphylococcus,12,7840781
...,...,...,...,...
26698,Wisconsin,Legal intervention involving firearm discharge,10,12725772
26699,Wisconsin,Other medical procedures,16,12725772
26700,Wisconsin,Sequelae of motor-vehicle accident,54,12725772
26701,Wisconsin,Sequelae of other accidents,72,12725772
26702,Wisconsin,Sequelae of assault,12,12725772

In [72]:
rds_connection_string = "postgres:password@localhost:5432/IllestDB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [73]:
engine.table_names()

['death', 'outbreak']

In [74]:
obdf.to_sql(name='outbreak', con=engine, if_exists='append', index=False)

In [77]:
coddf.to_sql(name='death', con=engine, if_exists='append', index=False)